/* body {
    background-color: white;
}

p.solid {
    border-style: solid;
    color: black;
    border-width:10px 10px 10px 10px;
    margin-left: 20px;
    text-align:center;
    margin: auto;
    font-size: 50px;
}

h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align:center;
    margin: auto;
}

h2 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    text-align:center;
    margin: auto;
}

h3 {
    margin-top:10%;
    color: rgb(214, 11, 246);
    position: static;
}

#container {
    height: 525px;
    width: 360px;
    margin: 50px auto;
    background: #6946d3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

#tbill {
    color: rgb(229, 221, 221);
    margin-left:15%;
    margin-top:0;
    text-align:center;
    right: -20px;
}
#super {
    color:blue;
} */
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

body{
font-family: 'Square Peg', cursive; 
background-color: aqua;
font-size: 20px;
position: relative; 
}

.mainbody{
    position: absolute;
    left: 40%;
    top: 20%;
    background-color: antiquewhite;
    width: 500px;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    font-size: 30px;
    box-shadow: 2px 2px 50px rgb(245, 6, 205);
}

.subbody{
    position: absolute;
    left: 40%;
    top: 85%;
    background-color: pink;
    width: 500px;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    font-size: 30px;
    box-shadow: 2px 2px 50px rgb(245, 6, 205);
}

input{
    border-radius: 20px;
    padding: 20px;
}
